@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 90vh;
    position: relative;
}

section#telefone {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%, -50%);

    margin: 1.3px;
    height: 625px;
    width: 310px;
    background: url(../imagens/frame-iphone.png) no-repeat;
}
iframe#tela {
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px
}
section#redes img{
    position: relative;
    top: 20vh;
    width: 60px;
    margin: 8px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.623);
    box-sizing: border-box;

}
section#redes {
    text-align: right;
}
section#redes img:hover {
    border: 2px solid rgba(245, 245, 245, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.651);
    transition: transform 0.3s, border 0.2s;
}